<!DOCTYPE html>
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        {{> cssLinks}}
    </head>
    <body>
        <div class="jumbotron">
            <h1>Welcome</h1>
            <br>
            <h5>
                Select your semester
            </h5>
            <div class="semester-container">
                <div class="card inline-card add-margin-top-normal" style="width: 20rem;">
                  <a href="/semester5">
                    <div class="card-block">
                      <h4 class="card-title">semester 5</h4>
                      <p class="card-text">CG, DCCN, SE, DAA</p>
                    </div>
                  </a>
                </div>
            </div>
        </div>
        {{> jsLinks}}
    </body>
</html>
